{% extends "base.html" %}
{% block title %}job board{% endblock %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
    }

    pre {
        white-space: pre-line;
        font-family: Arial, sans-serif;
        text-align: justify;
        color: #000;
    }

    .break-word {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }

    .uk-card {
        color: #000;
    }

    .uk-modal-dialog {
        color: #000;
    }

    .nav-button {
        background-color: blue !important;
        color: white !important;
        border-radius: 5px !important;
        margin-right: 10px !important;
        width: 100px !important;
        font-size: 0.8em !important;
        padding: 0 5px !important;
        display: flex !important;
        justify-content: center !important; 
        align-items: center !important;
        
    }

    .button-container {
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    .nav-button, .page-button {
        display: inline-block !important; 
    
    }

    .nav-button-container, .page-button-container {
        align-self: center;
    }

    .nav-button-container {
        text-align: left;
    }

    .page-button-container {
        text-align: right;
    }

    .page-button {
        background-color: blue !important;
        color: white !important;
        border-radius: 5px !important;
    }

    .uk-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .search-container {
        width: 80%;
    
    }

    .search-input {
        width: 85% !important; 
    }
    .search-button {
        width: 15% !important; 
    }

</style>

<div class="uk-container">
    <div class="uk-margin-large-top uk-margin-large-bottom uk-flex uk-flex-center">
        <div class="search-container uk-flex">
            <form class="uk-search uk-search-default uk-flex uk-width-1-1" method="get">
                <input class="uk-input search-input uk-width-1-1" type="search" placeholder="Par exemple: Développeur Fullstack..." name="research" value="{{ form.GET.research|default:'' }}">
                <button class="uk-button uk-button-default uk-border-rounded search-button uk-flex uk-flex-center uk-flex-middle" type="submit">Rechercher</button>
            </form>
        </div>
    </div>
    {% if messages %}
    <div class="uk-text-center">
        <div class="message-container">
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
        {% for job in get_the_page %}
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                <h3 class="uk-card-title">{{ job.Intitulé }}</h3>
                {% if job.Entreprise.nom %}
                    <p>Entreprise: {{ job.Entreprise.nom }}</p>
                {% endif %}
                {% if job.Lieu_de_travail.libelle %}
                    <p>Lieu de travail: {{ job.Lieu_de_travail.libelle }}</p>
                {% endif %}
                {% if job.Type_de_contrat %}
                    <p>Type de contrat: {{ job.Type_de_contrat }}</p>
                {% endif %}
                <p>Postuler sur France Travail: <a href="{{ job.Origine_offre.urlOrigine }}" class="break-word">Cliquer ici !</a></p>
                {% for partenaire in job.Origine_offre.partenaires %}
                    <p>Postuler sur {{ partenaire.nom }}: <a href="{{ partenaire.url }}" class="break-word">{{ partenaire.nom }}</a></p>
                {% endfor %}
                <button class="uk-button uk-button-default" type="button" uk-toggle="target: #modal-{{ forloop.counter }}">Voir plus</button>

                <!-- Modal -->
                <div id="modal-{{ forloop.counter }}" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-text-break">
                        <h2 class="uk-modal-title">{{ job.Intitulé }}</h2>
                        {% if job.Entreprise.nom %}
                            <p>Entreprise: {{ job.Entreprise.nom }}</p>
                        {% endif %}
                        {% if job.Lieu_de_travail.libelle %}
                            <p>Lieu de travail: {{ job.Lieu_de_travail.libelle }}</p>
                        {% endif %}
                        {% if job.Type_de_contrat %}
                            <p>Type de contrat: {{ job.Type_de_contrat }}</p>
                        {% endif %}
                        <p>Postuler sur France Travail: <a href="{{ job.Origine_offre.urlOrigine }}" class="break-word">Cliquer ici !</a></p>
                        {% for partenaire in job.Origine_offre.partenaires %}
                            <p>Postuler sur {{ partenaire.nom }}: <a href="{{ partenaire.url }}" class="break-word">{{ partenaire.nom }}</a></p>
                        {% endfor %}
                        <pre>{{ job.Description }}</pre>
                        <button class="uk-modal-close" type="button">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="button-container">
        <div class="nav-button-container">
            {% if get_the_page and get_the_page.has_previous %}
                <a href="?page={{ get_the_page.previous_page_number }}{% if form.research.value %}&query={{ form.research.value }}{% endif %}" class="uk-button uk-button-default uk-button-small nav-button">Précédent</a>
            {% endif %}
            {% if get_the_page and get_the_page.has_next %}
                <a href="?page={{ get_the_page.next_page_number }}{% if form.research.value %}&query={{ form.research.value }}{% endif %}" class="uk-button uk-button-default uk-button-small nav-button">Suivant</a>
            {% endif %}
        </div>
    
        <div class="page-button-container">
            {% if get_the_page.number > 3 %}
                <a href="?page=1{% if form.research.value %}&query={{ form.research.value }}{% endif %}" class="uk-button uk-button-default uk-button-small page-button">1</a>
                <span>...</span>
            {% endif %}
            {% for i in get_the_page.paginator.page_range %}
                {% if i >= get_the_page.number|add:"-2" and i <= get_the_page.number|add:"2" %}
                    {% if i == get_the_page.number %}
                        <span class="uk-button uk-button-default uk-button-small page-button">{{ i }}</span>
                    {% else %}
                        <a href="?page={{ i }}{% if form.research.value %}&query={{ form.research.value }}{% endif %}" class="uk-button uk-button-default uk-button-small page-button">{{ i }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if get_the_page.number < get_the_page.paginator.num_pages|add:"-2" %}
                <span>...</span>
                <a href="?page={{ get_the_page.paginator.num_pages }}{% if form.research.value %}&query={{ form.research.value }}{% endif %}" class="uk-button uk-button-default uk-button-small page-button">{{ get_the_page.paginator.num_pages }}</a>
            {% endif %}
        </div>
    </div>
    </div>
</div>
{% endblock %}