{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.6.22/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.6.22/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.6.22/js/uikit-icons.min.js"></script>
{% endblock %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block content %}
<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-small">
                        <h2 class="uk-card-title uk-text-center">Réinitialiser le mot de passe</h2>
                        <form method="post" class="uk-text-center">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1@m uk-width-1-1" type="submit">Envoyer l'email de réinitialisation du mot de passe</button>
                            <div class="uk-text-small uk-text-center">
                                <a href="{% url 'login' %}">Connexion</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}